.button {
  margin: 5px;
  outline: none;
  cursor: pointer;
  border: none;
  color: rgb(255, 255, 255);
  background-color: transparent;
  font-size: 18px;
}

.restore {
  background-color: transparent;
}
