.card-wrapper {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.9;

  .card-header {
    display: flex;
    flex-direction: row-reverse;
    background: rgba(102, 102, 102, 0.3);
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-self: space-around;
    padding: 5px 20px;
    text-align: left;
    margin-bottom: 15px;

    .title {
      margin-bottom: 5px;
      font-weight: bold;
    }

    .deleted-date {
      font-weight: 500;
    }
  }

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.disabled {
  opacity: 0.5;
  cursor: default;
}

.restore {
  color: rgb(0, 0, 0);
}

.selected {
  opacity: 1;

  .card-header {
    background-color: rgb(78, 34, 211);
  }
}
